<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/Home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Portal</title>
</head>
<body>
    <div class="container">
        <h1>Job Portal</h1>
        <div class="write">
            <h3>Don't Search, Get Found</h3>
        </div>
        <div class="button">
            <a href="/company_form">Recruit Job</a>
            <a href="/employee_form">Find Job</a>
        </div>
    </div>
</body>
</html>